extends ../layout

block content
    h1.
        Blob ID #{level._id}
    form(action='/levels/#{level._id}/edit',method='post',name='updatelevel',enctype='application/x-www-form-urlencoded')
        p Activity: 
            input#inputName.form-control(type='text', value='#{level.activity}', name='activity')
        p Category: 
            input#inputBadge.form-control(type='text', value='#{level.category}', name='category')
        p Level:
            input#inputBadge.form-control(type="number", value='#{level.level}', name="level")
        p Occurrence: 
            input#inputOccurrence.form-control(type="datetime-local", name="occurrence" value="#{levelDate}")
        p 
            input(type='hidden',value='PUT',name='_method')
        p 
            button#btnSubmit(type='submit').
                Update
